.popup__container {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 36px;
  margin: 0 auto;
  display: flex;
  position: relative;
  width: 430px;
  box-sizing: border-box;
}

@media screen and (max-width: 550px) {
  .popup__container {
    margin: 0 19px;
    padding: 27px 22px 25px;
  }
}